﻿<div>
    With the <br /> XMLHttpRequest object <br /> you can update parts of a web page,
    without reloading the whole page.
    The XMLHttpRequest object is used to exchange data with a server behind the scenes
</div>

<iframe width="560" height="315" src="https://www.youtube.com/embed/E3LbwXwK2uk" frameborder="0" allowfullscreen></iframe>