﻿<div class="row">
    <h1>List of all Products</h1>
    <table class="table" id="productTable">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Category</th>
                <th>Price</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<div class="row">
    <h1>Search Products by ID</h1>
    <form class="form-inline">
        <div class="form-group">
            <label>Search</label>
            <input class="form-control" type="number" min="1" value="1" id="prodId" placeholder="1, 2 or 3" />
        </div>
        <button type="button" class="btn btn-default" onclick="find();">Search</button>
    </form>
    <table class="table" id="productResult">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Category</th>
                <th>Price</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<div class="row">
    <h1>Add new Product</h1>
    <form class="form-horizontal" id="addProductForm">
        <div class="form-group">
            <label class="col-sm-2 control-label">Name</label>
            <div class="col-sm-10">
                <input type="text" name="Name" class="form-control" id="productName" placeholder="Name">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Category</label>
            <div class="col-sm-10">
                <input type="text" name="Category" class="form-control" id="productCategory" placeholder="Category">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Price</label>
            <div class="col-sm-10">
                <input type="number" min="1" value="1" name="Price" class="form-control" id="productPrice" placeholder="Price">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="button" class="btn btn-default" onclick="add();">Add</button>
            </div>
        </div>
    </form>
</div>

<script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>

<script>
    var uri = '/api/Products';

    $(document).ready(loadTable());

    function loadTable() {
        // Send an AJAX request
        $.getJSON(uri)
            .done(function (data) {
                $('#productTable > tbody').empty();
                $.each(data, function (key, item) {
                    var $row = $('<tr></tr>');
                    $row.append($('<td></td>').append(item.Id));
                    $row.append($('<td></td>').append(item.Name));
                    $row.append($('<td></td>').append(item.Category));
                    $row.append($('<td></td>').append(item.Price));
                    var $button = $('<button></button>')
                        .addClass('btn btn-default')
                        .text('Delete')
                        .click(function () {
                            deleteProduct(item.Id);
                        });
                    $row.append($('<td></td>').append($button));
                    $row.appendTo($('#productTable > tbody'));
                });
            });
    };

    function find() {
        var id = $('#prodId').val();
        $.getJSON(uri + '/' + id)
            .done(function (data) {
                $('#productResult > tbody').empty();
                var $row = $('<tr></tr>');
                $row.append($('<td></td>').append(data.Id));
                $row.append($('<td></td>').append(data.Name));
                $row.append($('<td></td>').append(data.Category));
                $row.append($('<td></td>').append(data.Price));
                $row.appendTo($('#productResult > tbody'));
            })
            .fail(function (jqXHR, textStatus, err) {
                $('p').text("Error: " + err).appendTo('#productResult > tbody');
            });
    };

    function add() {
        var item = { Id: 0, Name: $('#productName').val(), Category: $('#productCategory').val(), Price: $('#productPrice').val() }
        $.ajax({
            type: 'POST',
            url: uri,
            contentType: 'application/json',
            data: JSON.stringify(item)
        }).done(function (result) {
            $('#addProductForm')[0].reset();
            loadTable();
        })
    };

    function deleteProduct(id) {
        $.ajax({
            type: 'DELETE',
            url: uri + "/" + id,
        }).done(function (result) {
            loadTable();
        })
    };
</script>